@font-face {
    font-family: 'Khand';
    src: url('Khand-Medium.woff2') format('woff2'),
        url('Khand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Bold.woff2') format('woff2'),
        url('Khand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Light.woff2') format('woff2'),
        url('Khand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Regular.woff2') format('woff2'),
        url('Khand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-SemiBold.woff2') format('woff2'),
        url('Khand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

